/* ============================================= */
/* !!!!         VARIABLES STYLE CSS         !!!! */
/* ============================================= */
:root {
    --first-font:  "Poppins", sans-serif;;
    --second-font: "Koh Santepheap", serif;
    --theme-color: #11232e;
    --second-color: #edf5fb;
    --third-color: #38445c;
    --fourth-color: #ffeaa7;
    --text-color: #7e878d;
    --border-color: #636363;
    --red: #ff4a4a;
    --green: #008000;
    --yellow: #ffc700;
    --grey: #e7e6e2;
    --black: #222222;
    --white: #ffffff;
    --h1: normal 400 50px/1.1 var(--first-font);
    --h2: normal 400 40px/1.1 var(--first-font);
    --h3: normal 400 36px/1.1 var(--first-font);
    --h4: normal 400 22px/1.1 var(--first-font);
    --h5: normal 400 20px/1.1 var(--first-font);
    --h6: normal 400 18px/1.1 var(--first-font);
    --common-text: normal 400 16px/1.4 var(--first-font);
}
/* ============================================= */
/* !!!!        SITE GLOBAL STYLE CSS        !!!! */
/* ============================================= */
*,
:after,
:before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: inherit;
    vertical-align: inherit;
}
html {
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body,
html {
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
body::-moz-scrollbar {
    display: none;
}
::selection {
    background: rgb(17 35 46 / 28%);
}
svg,
img {
    max-width: 100%;
    display: block;
}
a,
.btn,
button {
    text-decoration: none;
    outline: none;
    color: inherit;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    display: inline-block;
    cursor: pointer;
}
a,
a:hover,
a:focus,
a:active,
input,
input:hover,
input:focus,
select,
select:hover,
select:focus,
textarea,
textarea:hover,
textarea:focus,
button,
button:hover,
button:focus,
.btn,
.btn:hover,
.btn:focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    outline: none;
}
.form-control:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="checkbox"]:focus,
[type="password"]:focus,
[type="file"]:focus,
[type="radio"]:focus,
[type="button"]:focus,
[type="submit"]:focus,
[type="date"]:focus,
[type="time"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="button"]:focus,
[type="number"]:focus,
textarea:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
::-webkit-input-placeholder {
    color: var(--text-color);
}
:-ms-input-placeholder {
    color: var(--text-color);
}
::placeholder {
    color: var(--text-color);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    vertical-align: baseline;
}
body {
    font: var(--common-text);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: var(--white);
    color: var(--black);
}
/* ============================================= */
/* !!!!         SITE TYPOGRAPHY CSS         !!!! */
/* ============================================= */
p,
li,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font: var(--common-text);
}
h1,
.h1 {
    font: var(--h1);
}
h2,
.h2 {
    font: var(--h2);
}
h3,
.h3 {
    font: var(--h3);
}
h4,
.h4 {
    font: var(--h4);
}
h5,
.h5 {
    font: var(--h5);
}
h6,
.h6 {
    font: var(--h6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.red {
    color: var(--red);
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
b {
    font-weight: bold;
    display: inline-block;
}
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
.product-title b {
    color: var(--border-color);
    display: inline;
    font-weight: 700;
}
p:not(:last-of-type) {
    margin-bottom: 15px;
}
/* ============================================= */
/* !!!!             GRID CSS                !!!! */
/* ============================================= */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.no-gutters {
    margin: 0 !important;
}
.row [class*="col-"] {
    padding: 0 15px;
}
.no-gutters [class*="col-"] {
    padding: 0;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.align-start {
    -ms-flex-align: start;
    align-items: flex-start;
}
.align-end {
    -ms-flex-align: end;
    align-items: flex-end;
}
.align-center {
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
}
.justify-center {
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}
.justify-between {
    justify-content: space-between;
    -ms-flex-pack: justify;
}
.justify-around {
    justify-content: space-around;
    -ms-flex-pack: distribute;
}
.justify-start {
    justify-content: flex-start;
    -ms-flex-pack: start;
}
.justify-end {
    justify-content: flex-end;
    -ms-flex-pack: end;
}
.row-reverse {
    flex-direction: row-reverse;
}
.direction-column {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.direction-row {
    flex-direction: row;
}
.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--grey);
}
::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
}
/*****  Columns  *****/
.col-auto {
    flex: 0 0 auto;
    width: auto;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.offset-1 {
    margin-left: 8.33333333%;
}
.offset-2 {
    margin-left: 16.66666667%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.33333333%;
}
.offset-5 {
    margin-left: 41.66666667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.33333333%;
}
.offset-8 {
    margin-left: 66.66666667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.33333333%;
}
.offset-11 {
    margin-left: 91.66666667%;
}
@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.33333333%;
    }
    .offset-sm-2 {
        margin-left: 16.66666667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.33333333%;
    }
    .offset-sm-5 {
        margin-left: 41.66666667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.33333333%;
    }
    .offset-sm-8 {
        margin-left: 66.66666667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.33333333%;
    }
    .offset-sm-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.33333333%;
    }
    .offset-md-2 {
        margin-left: 16.66666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.33333333%;
    }
    .offset-md-5 {
        margin-left: 41.66666667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.33333333%;
    }
    .offset-md-8 {
        margin-left: 66.66666667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.33333333%;
    }
    .offset-md-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.33333333%;
    }
    .offset-lg-2 {
        margin-left: 16.66666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.33333333%;
    }
    .offset-lg-5 {
        margin-left: 41.66666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.33333333%;
    }
    .offset-lg-8 {
        margin-left: 66.66666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.33333333%;
    }
    .offset-lg-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1200px) {
    .col-xl {
        flex: 1 0 0%;
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.33333333%;
    }
    .offset-xl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xl-5 {
        margin-left: 41.66666667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xl-11 {
        margin-left: 91.66666667%;
    }
}
@media (min-width: 1400px) {
    .col-xxl {
        flex: 1 0 0%;
    }
    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-xxl-0 {
        margin-left: 0;
    }
    .offset-xxl-1 {
        margin-left: 8.33333333%;
    }
    .offset-xxl-2 {
        margin-left: 16.66666667%;
    }
    .offset-xxl-3 {
        margin-left: 25%;
    }
    .offset-xxl-4 {
        margin-left: 33.33333333%;
    }
    .offset-xxl-5 {
        margin-left: 41.66666667%;
    }
    .offset-xxl-6 {
        margin-left: 50%;
    }
    .offset-xxl-7 {
        margin-left: 58.33333333%;
    }
    .offset-xxl-8 {
        margin-left: 66.66666667%;
    }
    .offset-xxl-9 {
        margin-left: 75%;
    }
    .offset-xxl-10 {
        margin-left: 83.33333333%;
    }
    .offset-xxl-11 {
        margin-left: 91.66666667%;
    }
}
.offset-right {
    margin-right: calc((100% - 1170px) / 2);
    margin-left: 0;
}
/* ============================================= */
/* !!!!          NICE SELECT CSS           !!!! */
/* ============================================= */
.nice-select {
    position: relative;
    display: block;
    font: normal 500 14px / 1 var(--first-font);
    border: 0;
    text-transform: capitalize;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    text-align: left !important;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.nice-select .current {
    position: relative;
    padding: 5px 20px 5px 10px;
}
.nice-select .current:after,
.nice-select.current:after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 1;
    width: 8px;
    height: 8px;
    transform: rotate(225deg);
    transition: all ease-in-out 0.5s;
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
}
.nice-select.open .current::after,
.nice-select.current[aria-expanded="true"]:after {
    transform: rotate(45deg);
    top: 40%;
}
.nice-select .list {
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.7);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 29px;
    z-index: 2;
    width: max-content;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    -o-transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
        opacity 0.15s ease-out;
    -moz-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
        opacity 0.15s ease-out;
    -ms-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 500;
    list-style: none;
    outline: none;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    margin: 0 !important;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #eae9e9;
}
.nice-select .option.selected {
    font-weight: bold;
}
.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.no-csspointerevents .nice-select .list {
    display: none;
}
.no-csspointerevents .nice-select.open .list {
    display: block;
}
.nice-select.disabled {
    border-color: var(--border-color);
    color: var(--border-color);
    pointer-events: none;
}
.nice-select.disabled:after {
    border-color: #cccccc;
}
.nice-select.wide {
    width: 100%;
}
.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}
.nice-select.right {
    float: right;
}
.nice-select.right .list {
    left: auto;
    right: 0;
}
.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}
.nice-select.small:after {
    height: 4px;
    width: 4px;
}
.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}
/* ============================================= */
/* !!!!          COMMON BUTTON              !!!! */
/* ============================================= */
.btn {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 10px 22px;
    font-family: var(--first-font);
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.btn svg {
    height: 16px;
    width: 16px;
}
.btn svg path {
    fill: var(--white);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.btn:hover svg path,
.btn:focus svg path {
    fill: var(--theme-color);
}
.btn:hover,
.btn:focus {
    background-color: transparent;
    color: var(--theme-color);
}
.btn-secondary {
    color: var(--black);
    background: var(--second-color);
}
.btn-secondary svg path {
    fill: var(--black);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
}
.btn-secondary:hover {
    color: var(--white);
    background: var(--theme-color);
}
.btn-secondary:hover svg path {
    fill: var(--white);
}
.btn-transparent {
    background: transparent;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
}
.btn-transparent:hover {
    background: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--white);
}
.btn-transparent svg path {
    fill: var(--black);
}
.btn-transparent:hover svg path {
    fill: var(--white);
}
.btn-white {
    background-color: var(--white);
    color: var(--theme-color);
    border-color: var(--white);
}
.btn-white:hover {
    color: var(--white);
}
.img-wrapper,
.img-rasio {
    position: relative;
    display: block;
}
.img-wrapper img,
.img-wrapper svg,
.img-wrapper video,
.img-wrapper iframe,
.img-rasio img,
.img-rasio svg,
.img-rasio video,
.img-rasio iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ============================================= */
/* !!!!             FORM  CSS               !!!! */
/* ============================================= */
.form-control,
input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="button"]),
input:not([type="radio"]),
select,
textarea {
    position: relative;
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--black);
    background: transparent;
    border: 1px solid var(--border-color);
}
.form-control,
textarea,
input {
    font-family: var(--first-font);
}
textarea {
    resize: none;
}
sup {
    top: -0.5em;
}
sub,
sup {
    position: relative;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    margin-left: 5px;
}
.form-group label sup {
    color: red;
    font-size: 10px;
    line-height: 0;
    margin-right: 3px;
}
.checkbox-custom input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.checkbox-custom label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 0 30px;
}
.checkbox-custom label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 54%;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    margin-right: 15px;
    background-color: transparent;
    border: 1px solid var(--black);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.checkbox-custom input:checked+label:before {
    background-color: var(--theme-color);
    border-color: var(--border-color);
}
.checkbox-custom input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 7px;
    width: 4px;
    height: 8px;
    border: solid var(--white);
    border-width: 0px 1px 1px 0;
    transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
}
.checkbox-custom label a {
    text-decoration: underline;
    font-weight: 600;
}
/***** COMMON CSS ****/
.no_scroll {
    overflow: hidden;
    position: relative;
}
.pt {
    padding-top: 70px;
}
.pb {
    padding-bottom: 70px;
}
.subtitle {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 18px;
}
.section-title {
    margin-bottom: 30px;
}
.section-title h2 {
    text-transform: capitalize;
}
.section-title p {
    margin-top: 15px;
}
/* ========overlay======= */
.overlay {
    content: " ";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
/*** swiper slider ****/
.swiper-button-prev,
.swiper-button-next {
    opacity: 0;
    visibility: hidden;
    height: 35px;
    width: 35px;
    outline: none;
    cursor: pointer;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    background-color: var(--theme-color);
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    box-shadow: 0px 1px 5px 2px rgb(17 35 46 / 8%);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    z-index: 2;
}
.swiper-button-next {
    right: 2px;
    left: auto;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
}
.swiper-button-prev {
    left: 2px;
    right: auto;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
    color: var(--white);
    display: none;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.swiper-button-next svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
    fill: var(--white);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    background-color: var(--white);
}
.swiper-button-next.swiper-button-disabled svg path,
.swiper-button-prev.swiper-button-disabled svg path {
    fill: var(--black);
}
/* CLOSE HOVER EFFECT */
.common-close {
    position: relative;
}
.common-close::after,
.common-close::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    left: calc(50% - 10px);
    margin-top: -1px;
    background-color: var(--black);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.common-close::before {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.common-close::after {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.common-close:hover::after,
.common-close:hover::before {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
/* ============================================= */
/* !!!!              Form CSS               !!!! */
/* ============================================= */
.form-container {
    padding: 15px;
}
.form-title {
    padding: 0 0 15px 0;
}
.form-content {
    padding: 15px 0;
}
.form-content .row [class*="col-"]:not(:last-of-type) .form-group,
.form-group:not(:last-of-type) {
    margin-bottom: 15px;
}
.form-group label {
    display: inline-block;
    margin: 0 0 10px;
    font: normal 700 14px/1.1 var(--second-font);
}
/********* Form CSS End*********/
/* ============================================= */
/* !!!!     CUSTOMIZE THE NAVBAR            !!!! */
/* ============================================= */
.site-header {
    position: relative;
    background-color: var(--white);
}
.site-header.fixed .sticky-header {
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    width: auto;
    background-color: var(--white);
    box-shadow: 0 2px 2px #0000001a;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
}
.site-header .announcebar {
    position: relative;
    padding: 10px 0;
    background-color: var(--theme-color);
    color: var(--white);
    border-bottom: 1px solid var(--border-color);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-header .announcebar svg path,
.header-style-four .header-topbar-left li a svg path {
    fill: var(--white);
}
.site-header .announcebar .announcebar-left {
    gap: 10px;
}
.site-header .menu-item-right,
.site-header .announcebar .announcebar-right,
.site-header .header-topbar-right,
.site-header .logobar .logobar-right {
    gap: 15px;
}
.site-header .nice-select {
    appearance: none;
}
.site-header .main-navigationbar {
    padding: 15px 0;
}
.site-header .main-navigationbar .logo-col{
    max-width: 120px;
}
.site-header .main-navigationbar .logo-col a,
.site-header .logobar .logo-col a {
    display: block;
}
.site-header .main-navigationbar .logo-col img,
.site-header .logobar .logo-col img {
    width: 100%;
    height: 100%;
}
.site-header .main-navigationbar .main-nav>li:not(:last-of-type) {
    padding-right: 25px;
}
.site-header .main-navigationbar .main-nav .has-item>a {
    padding-right: 20px;
}
.site-header .main-navigationbar .main-nav>li>a {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    text-transform: capitalize;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-header .main-navigationbar .main-nav>.menu-lnk.has-item>a:after,
.product-widget>.pro-itm>.acnav-label:after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    transform: rotate(225deg) translateX(50%);
    -webkit-transform: rotate(225deg) translateX(50%);
    -moz-transform: rotate(225deg) translateX(50%);
    -ms-transform: rotate(225deg) translateX(50%);
    -o-transform: rotate(225deg) translateX(50%);
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    z-index: 1;
}
.site-header .main-navigationbar .main-nav>li.menu_active.has-item>a:after,
.product-widget>.pro-itm.is-open>.acnav-label:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.site-header .main-navigationbar .main-nav li>a:before,
.site-header .megamenu-card .megamenu-content a:before,
.site-footer .footer-widget ul li a:after,
.site-footer .footer-contacts li a span:after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    height: 1px;
    width: 0;
    background: var(--black);
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-header .megamenu-card .megamenu-content {
    text-align: center;
}
.site-header .menu-item-right li {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.site-header .menu-item-right li>a,
.site-header .cart-icon,
.site-header .wishlist-icon,
.form-input {
    position: relative;
}
.site-header .menu-item-right .search-header .form-input {
    z-index: 1;
}
.site-header .menu-item-right .search-header input {
    border: 0;
    background-color: var(--grey);
    padding: 8px 30px 8px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.site-header .menu-item-right .search-header .search-btn svg {
    height: 15px;
    width: 15px;
}
.site-header .menu-item-right .search-header .search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.site-header .count {
    position: absolute;
    top: -7px;
    right: -6px;
    height: 15px;
    width: 15px;
    background: var(--theme-color);
    color: var(--white);
    font-size: 9px;
    line-height: 1;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.site-header .logobar .logobar-right {
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}
.wishlist-header {
    position: relative;
}
/*** mega dropdown css  ***/
.site-header .main-navigationbar .main-nav>li.menu-lnk .menu-dropdown.mega-menu {
    padding: 15px 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.site-header .main-navigationbar .main-nav>li.menu-lnk .menu-dropdown {
    position: absolute;
    top: 100%;
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    padding: 15px;
    max-width: 150px;
    min-width: 200px;
    width: 100%;
    z-index: 2;
    color: var(--black);
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-header .main-navigationbar .main-nav>li .menu-dropdown.open_menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(100%);
    -webkit-transform: scaleY(100%);
    -moz-transform: scaleY(100%);
    -ms-transform: scaleY(100%);
    -o-transform: scaleY(100%);
}
.menu-items-col .main-nav>li.menu-lnk .menu-dropdown li {
    text-transform: capitalize;
}
.site-header .menu-dropdown ul>li:not(:last-of-type) {
    margin-bottom: 10px;
}
.site-header .menu-dropdown ul>li span {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}
.site-header .menu-dropdown ul>li>a {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    border-bottom: 1px solid transparent;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-header .mega-menu .img-col {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 60%;
}
.site-header .mega-menu .img-col img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    object-fit: scale-down;
    object-position: center;
}
/* ******** mobile menu button ********* */
.site-header .mobile-menu {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
}
.site-header .mobile-menu .mobile-menu-button {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}
.site-header .mobile-menu .mobile-menu-button div {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--black);
}




/* product-sec-start */

.product-card-img {
    position: relative;
}




.product-card-inner {
    background: var(--grey);
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-card-inner .img-wrapper {
    padding-top: 130%;
}

.product-card-inner h3 {
    font: var(--h4);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-card-inner .product-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-card-inner .product-content .product-content-top {
    flex: 1;
    height: 100%;
}

.product-card-inner .product-content .product-content-bottom {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.product-card-inner .product-label-wrp {
    position: absolute;
    top: 4%;
    left: 4%;
}

.product-slider.swiper-grid-column>.swiper-wrapper {
    gap: 20px 0;
}

.product-card {
    height: 100%;
}
.product-content{
    margin-top: 20px;
}
.price ins,
.price del {
    font-size: 18px;
    font-weight: 500;
}


.product-slider.swiper-grid-column>.swiper-wrapper {
    flex-direction: row !important;
}

.testimonial-sec{
    background-color: var(--third-color);
    color: var(--white);
}
.testimonial-sec .testimonial-content p{
    max-width: 400px;
    width: 100%;
    margin: 0 auto 15px;
}
.testimonial-sec .testimonial-content h3{
    font: var(--h4);
}
.swiper-pagination {
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    left: 0 !important;
    right: 0;
    bottom: -40px !important; /* Adjust as necessary */
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #000; /* Customize color */
    opacity: 0.5;

}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #007bff; /* Customize active bullet color */
}


.common-banner-sec {
    background: var(--fourth-color);
    padding: 30px 0;
}

.common-banner-sec li a {
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
}

.filter-cat li:not(:last-of-type) {
    position: relative;
    padding-right: 20px;
}

.filter-cat li:not(:last-child):after {
    content: "/";
    position: absolute;
    font-weight: 600;
    font-size: 35px;
}

/* contact-page-start */
.contact-about-sec .contact-slider {
    background-color:#ffa958;
}

.contact-about-sec .contact-slider-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 20px 15px;
    color: var(--white);
}

.contact-subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2;
}

.contact-about-sec h4 {
    text-transform: capitalize;
}



.contact-page {
    position: relative;
    z-index: 2;
    background-color: #222f3e;
    color: var(--white);
}

.contact-page .contact-left-column .social-icons svg path {
    fill: var(--first-color);
    transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -moz-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
}

.contact-page .contact-left-column .social-icons svg {
    height: 20px;
    width: 20px;
}

.contact-page .contact-left-column .social-icons svg:hover path {
    fill: var(--body-text-color);
}

.contact-left-inner ul .social-link {
    margin-bottom: 30px;
}
.contact-page .subtitle{
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.contact-left-inner ul li h5 {
    font: var(--h4);
    margin-bottom: 15px;
    text-transform: capitalize !important;
}

.contact-left-inner ul li a {
    color: var(--body-text-color);
}

.contact-left-inner ul .social-link .social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-heading h4 {
    margin-bottom: 15px;
}

.contact-page .contact-right-inner {
    margin-bottom: -350px;
    background-color: var(--body-bg-color);
}

.contact-right-inner .form-content p {
    margin-top: 20px;
}

.contact-page p b {
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
    font-weight: normal;
}

.contact-direction-sec {
    position: relative;
    z-index: 1;
}

.contact-direction-sec .contact-direction-inner iframe {
    width: 100%;
    height: 600px;
}

.contact-direction-sec .contact-direction-column {
    background-color: var(--white);
    max-width: 350px;
    padding: 55px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.contact-direction-sec .contact-direction-column .btn {
    gap: 15px;
    margin-top: 25px;
    text-transform: capitalize;
}


    /* ============================================= */
    /* !!!!     COLLECTION LIST PAGE CSS        !!!! */
    /* ============================================= */
    .collection-list-page .collection-card {
        padding: 8px;
    }

    .collection-main-sec .collection-card-inner {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        padding: 15px 15px 20px 15px;
        background-color: var(--grey);
        transition: all 500ms ease-in-out 0s;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        -o-transition: all 500ms ease-in-out 0s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .collection-main-sec:not(.list-collection-sec) .img-rasio {
        padding-top: 120%;
    }

    .collection-main-sec .collection-card-inner a {
        margin-bottom: 20px;
    }

    .collection-main-sec img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .collection-main-sec:not(.list-collection-sec) .collection-card-inner .img-rasio::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: rgb(155 153 153 / 16%);
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transition: all 500ms ease-in-out 0s;
        -webkit-transition: all 500ms ease-in-out 0s;
        -moz-transition: all 500ms ease-in-out 0s;
        -ms-transition: all 500ms ease-in-out 0s;
        -o-transition: all 500ms ease-in-out 0s;
        z-index: 1;
    }

    .collection-main-sec .collection-card-inner:hover .img-rasio::before {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .collection-main-sec .collection-content h3 {
        text-align: center;
        font: var(--h4);
        font-weight: 600;
        text-transform: capitalize;
        /* margin-top: 20px; */
    }


/********* FOOTER STYLE  CSS START ********/
.site-footer {
    background-color: var(--black);
    color: var(--white);
    padding: 25px 0;
}
.site-footer .footer-widget>p {
    margin-bottom: 15px;
}
.site-footer .footer-address-col {
    max-width: 20%;
    flex: 0 0 20%;
}
.site-footer .footer-acnav{
    margin-bottom: 15px;
}
.footer-acnav  span{
    text-transform: capitalize;
    font-size: 30px;
}
.site-footer .footer-widget ul li {
    text-transform: capitalize;
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.site-footer .footer-social-icon li:not(:last-of-type) {
    margin-right: 10px;
}
.site-footer .footer-social-icon li a {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--theme-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 .contact-col ul li:not(:last-child) {
    margin-bottom: 15px !important;
}
.site-footer .footer-widget ul li a,
.site-footer .footer-contacts li a span {
    position: relative;
}
.site-footer .contact-col ul li a{
    display: flex;
    gap: 10px;
    align-items: center;
}
.site-footer .contact-col  svg{
    width: 15px;
    height: 15px;
}
.site-footer .contact-col ul li  svg path{
    fill: var(--white);
}
.site-footer .footer-social-icon li a svg {
    width: 16px;
    height: 16px;
}
.site-footer .footer-social-icon li svg path {
    fill: var(--white);
}
.site-footer  .footer-widget .footer-acnav svg path{
    fill: var(--white);

}
/*****  MOBILE MENU CSS  *****/
/*****  MOBILE MENU CSS  *****/
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    max-width: 400px;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: block;
    transform: translate(100%, 0px);
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
}
.mobile-menu-wrapper.active_menu {
    transform: translate(0%, 0px);
    -webkit-transform: translate(0%, 0px);
    -moz-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    -o-transform: translate(0%, 0px);
}
.mobile-menu-wrapper .menu-close-icon {
    text-align: right;
    padding: 15px 20px;
    background: var(--theme-color);
}
.mobile-menu-wrapper .menu-close-icon svg path {
    fill: var(--white);
}
.mobile-menu-wrapper .mobile-menu-bar>ul {
    height: calc(100vh - 48px);
    overflow: auto;
    padding: 15px 20px;
    background: var(--white);
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li:not(:first-child) {
    margin-top: 8px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a {
    font-size: 18px;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 1px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: space-between;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a svg {
    margin-left: auto;
    width: 14px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li a .close-menu-ioc,
.mobile-menu-wrapper .mobile-menu-bar>ul>li.is-open>a.acnav-label .menu-open-arrow,
.mobile-menu-wrapper .mobile-menu-bar>ul>li .menu-h-drop.is-open .acnav-label .menu-open-arrow {
    display: none;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li.is-open>a.acnav-label .close-menu-ioc,
.mobile-menu-wrapper .mobile-menu-bar>ul>li .menu-h-drop.is-open .acnav-label .close-menu-ioc {
    display: block;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .acnav-list {
    margin: 12px 0;
    display: none;
    padding: 0;
}
.mobile-menu-wrapper .mobile-menu-bar .mobile-item>ul>li:not(:last-of-type) {
    margin-bottom: 12px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile-menu-inner .menu-h-link ul li:not(:last-of-type) {
    margin-bottom: 8px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile-menu-inner .menu-h-link ul {
    margin-bottom: 15px;
}
.mobile-menu-wrapper .mobile-menu-bar>ul>li .mobile-menu-inner .menu-h-link ul li a {
    font-size: 16px;
    line-height: 18px;
    text-transform: lowercase;
    font-family: var(--first-font);
}
.mobile-menu-wrapper .mobile-menu-bar .mobile-item>ul {
    margin: 12px 0 0;
}
.mobile-menu-wrapper .mobile-menu-bar .mobile-item>ul>li>a {
    font-size: 14px;
    font-family: var(--first-font);
}
.mobile-menu-wrapper .mobile-menu-bar .mobile-item>ul>li>a.acnav-label {
    font-weight: 600;
}
/****** mobile wrapper CSS ********/